<!-- Bootstrap -->

<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">© 2017 - Itememorizer by Bootta
            
        </p>

        
    </div>


</div>

</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="/js/func.js"></script>
<script src="/js/jquery.rateit.min.js"></script>
<noscript>
<style type="text/css">
    .content_div {display:none;}
</style>
<div class="noscriptmsg">
    You don't have javascript enabled.  Good luck with that.
</div>
</noscript>


</body>
</html>