<html>
    <head>
        <title>LOL - Match Items History</title>

        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/rateit.css">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">

    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Itememorizer</a>
                </div>
                <ul class="nav navbar-nav">
                    <% if(locals.user && locals.user.role == 'admin'){  %>
                    <li><a href="/users">Users</a></li>
                    <% } %>
                    <li><a href="/shared_matches">Shared matches</a></li>
                    

                </ul>
                <%# '
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Search User</button>
                </form>
                ' %>
                <ul class="nav navbar-nav navbar-right">
                    <% if(!locals.user) { %>
                    <li><a href="/users/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <% }else if(locals.user){  %>
                    <li><a href="/users/logged_user_matches"> Matches</a></li>
                    <li><a href="/users/logout"><span class="glyphicon glyphicon-logout"></span> Logout <%= user.username %></a></li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <br>
        <div class='content_div'>
