<%# include ../partials/header %>
<% if(match){ %>
<div width='100%'>
    <div class='lolmh_center_div' id='share_match_div'>
        <span class='share_match_header'>Click on items in order you bought them in game.</span>
        <div class='champ_icon_div'><img src='/static/image/champion/<%= match.champion_id %>' class='lolmh_champion' ></div>
        <div class='items_div_share_match'>
            <% match.items.forEach(function (item, index){ %>
            <% if (index == 3) { %>
            <br>
            <% } %>
            <span>
                <span class='share_match_image_holder lolmh_item_info_popover' itemid='<%= item %>' itemposition='<%= index %>'>
                    <img class='share_match_image_hover'/>
                    <img src='/static/image/item/<%= item %>' class='lolmh_item' >
                </span>
            </span>
            <% }); %>
        </div>

        <div class='clearfix'></div>
        <div class='items_order_div'>

        </div>
        <div class='clearfix'></div>
        </br>
        <div class='lolmh_share_match_form_div'>
            <form id='share_match_form'>
                <input type='hidden' name='id' value='<%= match.id %>' />
                <input type='hidden' name='item_order' id='item_order_list' />
                <input type="submit" value='Share match' name='submit' id='submit' class='btn'>
            </form>
        </div>
    </div>
</div>
<% }else{ %>
<h2>Not found match for sharing</h2>
<% } %>
<%# include ../partials/footer %>