

<span id='navigationBox' data-prev-ref-value='<%= ( locals.prevRefValue ? locals.prevRefValue : "" ) %>' data-next-ref-value='<%= ( locals.nextRefValue ? locals.nextRefValue : "" ) %>' style='display: block;width: 100%;text-align: center'>

    <div style='display: block;width: 100%;text-align: center'>
        Page <span id='current_page' data-current-page='<%= (locals.page?locals.page:1) %>'><%= (locals.page?locals.page:1) %>  <%= (locals.number_of_pages ? " of " + locals.number_of_pages : "") %> 
        </span>
    </div>

    <div class="next_prev_div">
        <a href="#" class="btn btn-default " id="btnPrev"  ><span class="glyphicon glyphicon-arrow-left"></span>Prev</a>
        <a href="#" class="btn btn-default" id="btnNext" ><span class="glyphicon glyphicon-arrow-right" value="next"></span>Next</a>
    </div>

    <span style='display: block;width: 100%;text-align: center'>
        Per page: <select id='all_matches_per_page'>
            <option value='5' <%= (locals.per_page && locals.per_page== 5 ? "selected" : "") %>>5</option>
            <option value='10' <%= (locals.per_page && locals.per_page== 10 ? "selected" : "") %>>10</option>
            <option value='15' <%= (locals.per_page && locals.per_page== 15 ? "selected" : "") %>>15</option>
            <option value='20' <%= (locals.per_page && locals.per_page== 20 ? "selected" : "") %>>20</option>
        </select>
    </span>

    <select id="champion_filter">
        <option value="">-- All champions --</option>
        <% if(locals.all_champions){ locals.all_champions.forEach(function(champ){ %>
        <option value="<%= champ.id %>" <%= (locals.champion_filter?(locals.champion_filter == champ.id?"selected":""):"") %>><%= champ.name %></option>
        <% })} %>
    </select>
</span>

<% if(shared_matches && shared_matches.length>0 ){ shared_matches.forEach(function(match){ %>

<div class="panel panel-default">

    <!--<div class="panel-heading">User: </div>-->
    <div class="panel-body">
        <div class='champ_icon_div'><img  data-src='/static/image/champion/<%= match.champion_id %>' src='/images/static/blank_box.png' class='lolmh_champion' onmouseover='hello(<%= match.match_id %>)'></div>
        <div class='items_div'>
            <% JSON.parse(match.items).forEach(function (item, index){ %>
            <% if (index == 3) { %>
            <br>
            <% } %>
            <span class='lolmh_item_info_popover' itemid='<%= item %>'>
                <img <% if(item && item>0){ %> data-src='/static/image/item/<%= item %>' <% }%>  src='/images/static/blank_box.png' class='lolmh_item' itemid='<%= item %>'>
            </span>
            <% }); %>
        </div>
        <div class='win_icon_div'><!-- <img src='/images/static/<%= (match.win==1?"ok":"nok"); %>.png' class='lolmh_win_icon <%= (match.win==1?"win_ok":"win_nok"); %>'> --></div>
        <div class='index_items_order_div'>
            <% if(match.item_order){ JSON.parse(match.item_order).forEach(function (item, index){  %>
            <% if (index > 0) { %>
            <div class='arrow_icon_div' style='display: block'><span>&#8594;</span></div>
            <% } %>
            <div class='lolmh_item_img_div lolmh_item_info_popover' itemid='<%= item %>'>
                <img <% if(item && item>0){ %> data-src='/static/image/item/<%= item %>' <% }%>  src='/images/static/blank_box.png' class='lolmh_item_img lolmh_item'/>
            </div>
            <% });} %>
        </div>
        <div class='index_rate_match'>
            <div class="rateit"  data-rateit-resetable="false" data-mrid='<%= match.id %>' data-rateit-value='<%= (match.rating?match.rating:0) %>' data-rateit-readonly='<%= (locals.user?"false":"true") %>' data-rateit-count='<%= match.rate_count %>'>
            </div>
        </div>
    </div>
</div>

<div class='clear'></div>

<% });} else { %>
<span id='notFoundMatches'  style='display: block;width: 100%;text-align: center; font-size: 18px; padding: 20px 0'>Not found any shared match</span>
<% } %>