<% include ../util/functions %>
<div style='display: block;width:100%;text-align: center'>
    <span style='margin: 0 auto;display: inline-block'>Win rate: <%= (locals.win_count?locals.win_count:"") %>/<%= (locals.matches_count?locals.matches_count:"") %>(<%= (locals.win_count && locals.matches_count?parseFloat(parseInt(locals.win_count)/parseInt(locals.matches_count)*100).toFixed(2)+"%":"") %>)</span>
</div>
<div class="clearfix"></div>
<br>
<div class="clearfix"></div>

<span id='navigationBox' data-prev-ref-value='<%= ( locals.prevRefValue ? locals.prevRefValue : "" ) %>' data-next-ref-value='<%= ( locals.nextRefValue ? locals.nextRefValue : "" ) %>' style='display: block;width: 100%;text-align: center'>

    <div style='display: block;width: 100%;text-align: center'>
        Page <span id='current_page' data-current-page='<%= (locals.page?locals.page:1) %>'><%= (locals.page?locals.page:1) %>  <%= (locals.number_of_pages ? " of " + locals.number_of_pages : "") %> 
        </span>
    </div>
    
    <div class="next_prev_div">
        <a href="#" class="btn btn-default " id="btnPrev"  ><span class="glyphicon glyphicon-arrow-left"></span>Prev</a>
        <a href="#" class="btn btn-default" id="btnNext" ><span class="glyphicon glyphicon-arrow-right" value="next"></span>Next</a>
    </div>

    <span style='display: block;width: 100%;text-align: center'>
        Per page: <select id='all_matches_per_page' data-summoner-id='<%= matches[0].summoner_id%>'>
            <option value='5' <%= (locals.per_page && locals.per_page== 5 ? "selected" : "") %>>5</option>
            <option value='10' <%= (locals.per_page && locals.per_page== 10 ? "selected" : "") %>>10</option>
            <option value='15' <%= (locals.per_page && locals.per_page== 15 ? "selected" : "") %>>15</option>
            <option value='20' <%= (locals.per_page && locals.per_page== 20 ? "selected" : "") %>>20</option>
        </select>
    </span>
    
    <select id="champion_filter">
        <option value="">-- Select champion --</option>
        <% if(locals.user_champions){ locals.user_champions.forEach(function(champ){ %>
        <option value="<%= champ.id %>" <%= (locals.champion_filter?(locals.champion_filter == champ.id?"selected":""):"") %>><%= champ.name %></option>
        <% })} %>
    </select>
</span>




<% matches.forEach(function(match){ %>

<div class="panel panel-default">

    <div class="panel-heading">Match played: <%= PrepareEpochDateForDisplay(match.create_date) %> 
        <% if(!match.create_time){ %> <a href="/share/match/<%= match.id %>" data-rid="<%= match.id %>"  class='btn btn-default share_match_button'>Share</a> 
        <% }else{ %>
        <span class='bg-success' style='display: inline-block;padding:4px;margin:0 4px'>Shared</span>
        <% } %>
    </div>
    <div class="panel-body">
        <div class='champ_icon_div'><img data-src='/static/image/champion/<%= match.champion_id %>' src='/images/static/blank_box.png' class='lolmh_champion' onmouseover='hello(<%= match.match_id %>)'></div>
        <div class='items_div'>
            <% JSON.parse(match.items).forEach(function (item, index){ %>
            <% if (index == 3) { %>
            <br>
            <% } %>

            <span class='lolmh_item_info_popover' itemid='<%= item %>'>
                <img <% if(item>0){ %> data-src='/static/image/item/<%= item %>' <% }%>  src='/images/static/blank_box.png' class='lolmh_item' itemid='<%= item %>'>
            </span>

            <% }); %>
        </div>
        <div class='win_icon_div'><img src='/images/static/<%= (match.win==1?"ok":"nok28"); %>.png' class='lolmh_win_icon <%= (match.win==1?"win_ok":"win_nok"); %>'></div>
    </div>
</div>
<div class='clear'></div>

<% }); %>

<div class="clearfix"></div>
<span id='navigationBox' data-prev-ref-value='<%= ( locals.prevRefValue ? locals.prevRefValue : "" ) %>' data-next-ref-value='<%= ( locals.nextRefValue ? locals.nextRefValue : "" ) %>' style='display: block;width: 100%;text-align: center'>

    <div style='display: block;width: 100%;text-align: center'>
        Page <span id='current_page' data-current-page='<%= (locals.page?locals.page:1) %>'><%= (locals.page?locals.page:1) %>  <%= (locals.number_of_pages ? " of " + locals.number_of_pages : "") %> 
        </span>
    </div>
    
    <div class="next_prev_div">
        <a href="#" class="btn btn-default " id="btnPrev"  ><span class="glyphicon glyphicon-arrow-left"></span>Prev</a>
        <a href="#" class="btn btn-default" id="btnNext" ><span class="glyphicon glyphicon-arrow-right" value="next"></span>Next</a>
    </div>

    <span style='display: block;width: 100%;text-align: center'>
        Per page: <select id='all_matches_per_page' data-summoner-id='<%= matches[0].summoner_id%>'>
            <option value='5' <%= (locals.per_page && locals.per_page== 5 ? "selected" : "") %>>5</option>
            <option value='10' <%= (locals.per_page && locals.per_page== 10 ? "selected" : "") %>>10</option>
            <option value='15' <%= (locals.per_page && locals.per_page== 15 ? "selected" : "") %>>15</option>
            <option value='20' <%= (locals.per_page && locals.per_page== 20 ? "selected" : "") %>>20</option>
        </select>
    </span>
    
    <select id="champion_filter">
        <option value="">-- Select champion --</option>
        <% if(locals.user_champions){ locals.user_champions.forEach(function(champ){ %>
        <option value="<%= champ.id %>" <%= (locals.champion_filter?(locals.champion_filter == champ.id?"selected":""):"") %>><%= champ.name %></option>
        <% })} %>
    </select>
</span>


</br>

<!-- Modal -->
<div class="modal fade" id="ShareModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Share Match</h4>
            </div>
            <div class="share-modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div> 