<%

PrepareEpochDateForDisplay = function(epoch_date) {
    var dateVal = epoch_date;
    var a = new Date(dateVal);
    a.setTime(a.getTime() + a.getTimezoneOffset() * 60 * 1000);

    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    var year = a.getFullYear();
    var month = a.getMonth()+1;
    var date = a.getDate();
    var hour = a.getHours();
    var min = a.getMinutes();
    var sec = a.getSeconds();


    // Will display time in 10:30:23 format
    return formattedTime = String('0'+date).slice(-2) + '.' + String('0'+month).slice(-2) + '.' + year + " " + String('0'+hour).slice(-2) + ':' + String('0'+min).slice(-2) + ':' + String('0'+sec).slice(-2);
}

%>