.lolmh_item{
    margin: 0px;
    padding: 0;
    width: 32px;
    height: 32px;
    background:url(/item_icons/-1) no-repeat left top;
    background-size: 32px 32px;
}
.lolmh_champion{
    margin: 0px;
    padding: 0;
    height: 64px;
    width: 64px;
    background: url(/item_icons/-1) no-repeat left top;
    background-size: 64px 64px;
}
.clear{
    clear: both;
    margin: 0;
    padding:0;
    height: 1px;
    width: 100%;
}

.champ_icon_div{
    padding: 0 5px 0 0;
    margin: 0;
    float:left;
}

.items_div{
    padding: 0;
    margin: 0;
    float:left;
}

.win_icon_div{
    padding: 16px 16px 0 16px;
    margin: 0;
    float:left;
    display:block;
    height:64px;
}



.tooltip_item_icon_div{
    float:left;
    margin:0;
    padding: 0;
}

.tooltip_item_info_div{
    float:left;
    margin:0;
    padding: 0;
}

.tooltip_item_image{

    margin:0;
    padding: 0;
}

.tooltip_item_name{
    float:left;

}

.item_tooltip{

    background-color: black;
}

.lolmh_matches_div{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.lolmh_users_div{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.lolmh_center_div{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.lolmh_user_icon{
    width:64px;
    height:64px;
    margin:5px 10px;
}

.user_div{
    display: block;
    border: 0;
    margin:1px;
}

.user_div:hover {
    border: 1px solid black;
    margin: 0px;
}

.user_div a{
    display: block;
    text-decoration: none;
    color: black;
}

.user_div a:hover{
    background-color: #f9fbff;
    text-decoration: none;
}

.content_div{
    text-align: center;
    padding-bottom: 50px;
}

.arrow_icon_div{
    padding: 8px 4px 0 4px;
    margin: 0;
    float:left;
    display:block;
    height:32px;
}

.lolmh_item_img{
    float: left;
}

.lolmh_share_match_form_div{


}

.items_order_div{
    margin: 5px 0;
}

.items_div_share_match{
    float:left;
    margin: 0;
    padding: 0;
}

.share_match_image_hover{
    display: none;
    background-color: white;
    position: absolute; 
    margin: 8px 0 0 8px;
}

.lolmh_item_img_div{
    float:left;
    display: block;
}

.index_items_order_div{
    float: left;
    padding: 16px 16px 0 16px;
    border-left: 1px black solid; 
    height: 64px;
    margin: 0 4px;
}

.index_rate_match{
    float: right;
    padding: 16px 0 0 16px; 
    height: 64px;
    margin: 0 4px;
}

.img-grey {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

/* Disable grayscale on hover */
.img-without-grey {
  filter: none;
  -webkit-filter: grayscale(0);
}

.round-borders{
    border: 1px solid black;
    border-radius: 4px;
    padding:2px;
}

.share_match_header{
    font-size: 18px;
    padding: 10px 4px;
    margin:0;
    text-align: center;
    display: block; 
}
#share_match_div .items_order_div{
    margin:8px 0;
    padding: 4px;
    border: 1px solid black;
    height: 40px;
    width: 312px;
}

.item_description_info{
    color: #000;
}

.item_description_info stats{
    /* color:#1097C4; */
    color: #000;
    font-weight: bold;
    
}

.item_description_info mana{
    color:#000;
}

.item_description_info unique{
    color:#02BA30;
    font-weight: bold;
}

.item_description_info passive{
    color:#DE7E00;
    font-weight: bold;
}

.item_description_info active{
    color:#DB0037;
    font-weight: bold;
}

#share_match_div{
    margin: 0 auto;
    display: table;
}
#navigationBox{
    padding: 5px 0;
}

#navigationBox div{
    margin: 3px 0 3px 0;
    display: block;
    width: 100%;
    text-align: center;
}

#sign_up_icon{
    width: 80px;
    height: 80px;
}

.popover-content{
    text-align: center;
}

.lolmh_win_icon{
    width: 32px;
    height: 32px;
}




