<% include ../partials/header %>

<div class='lolmh_center_div'>
    <div class="alert alert-danger">
        <strong>Error: </strong> <%= message %>
    </div>
</div>

<% include ../partials/footer %>