<% include ../partials/header %>
<% include ../util/functions %>
<div class='lolmh_center_div'>
    
    <!-- All matches list -->
    <div id="top-rated-matches-list" class='round-borders'>
        <h2 style='text-align:center'>Top rated</h2>
        <% top_matches.forEach(function(match){ %>
      
        <div class="panel panel-default">

            <!--<div class="panel-heading">User: </div>-->
            <div class="panel-body">
                <div class='champ_icon_div'><img data-src='/static/image/champion/<%= match.champion_id %>' src='/images/static/blank_box.png' class='lolmh_champion' onmouseover='hello(<%= match.match_id %>)'></div>
                <div class='items_div'>
                    <% JSON.parse(match.items).forEach(function (item, index){ %>
                    <% if (index == 3) { %>
                    <br>
                    <% } %>
                    <span class='lolmh_item_info_popover' itemid='<%= item %>'>
                        <img <% if(item>0){ %> data-src='/static/image/item/<%= item %>' <% }%>  src='/images/static/blank_box.png' class='lolmh_item' itemid='<%= item %>'>
                    </span>
                    <% }); %>
                </div>
                <div class='win_icon_div'><!-- <img src='/images/static/<%= (match.win==1?"ok":"nok28"); %>.png' class='lolmh_win_icon <%= (match.win==1?"win_ok":"win_nok"); %>'> --></div>
                <div class='index_items_order_div'>
                    <% if(match.item_order){ match.item_order.forEach(function (item, index){  %>
                    <% if (index > 0) { %>
                    <div class='arrow_icon_div' style='display: block'><span>&#8594;</span></div>
                    <% } %>
                    <div class='lolmh_item_img_div lolmh_item_info_popover' itemid='<%= item %>'>
                        <img <% if(item>0){ %> data-src='/static/image/item/<%= item %>' <% }%>  src='/images/static/blank_box.png' class='lolmh_item_img lolmh_item'/>
                    </div>
                    <% });} %>
                </div>
                <div class='index_rate_match'>
                    <div class="rateit"  data-rateit-resetable="false" data-mrid='<%= match.id %>' data-rateit-value='<%= (match.rating?match.rating:0) %>' data-rateit-readonly='<%= (locals.user?"false":"true") %>' data-rateit-count='<%= match.rate_count %>'>
                    </div>
                </div>
            </div>
        </div>

        <div class='clear'></div>

        <% }); %>
    </div>
    <!-- All matches list -->
    <center><h2>All matches list</h2></center>
    <div id="all-matches-list">
        <% include ../partials/show_matches_with_rating %>
    </div>
</div>

<% include ../partials/footer %>