<% include ../partials/header %>
<form method="post" action="/users/user_authenticate" id="login_form" onsubmit="return validateLoginForm()">
    <div class='lolmh_center_div'>
        <div class="form-group">
            <label class="control-label" for="inputUsername">Username</label>
            <input type="text" class="form-control" name="inputUsername" id="inputUsername">
            
        </div>
        <div class="form-group">
            <label class="control-label" for="inputPassword">Password</label>
            <input type="password" class="form-control" name="inputPassword" id="inputPassword">
        </div>
        
        
        <button type="submit" class="btn btn-default" >Login</button>

    </div>
</form>
<% include ../partials/footer %>