<% include ../partials/header %>

<% if(locals.user){%>

<div><h3>User matches</h3></div>

<% if(matches && matches.length>0) {%>
<div class='lolmh_matches_div' id='lolmh_matches_div' data-summoner-id='<%= locals.userid %>'>
    <% include ../partials/show_user_matches %>
</div>
<% }else{%>
<div class='lolmh_matches_div' id='lolmh_matches_div' data-summoner-id='<%= locals.user.summoner_id%>'>
    Currently no matches for this user
</div>
<% }%>

<% }%>

<% include ../partials/footer %>