<% include ../partials/header %>



<div><h3>Shared matches</h3></div>


<div class='lolmh_matches_div' id='shared-matches-list'>
    <% if(shared_matches && shared_matches.length>0) {%>
    <% include ../partials/show_shared_matches %>
    <% }else{%>
    Currently no matches for this user
    <% }%>
</div>






<% include ../partials/footer %>