<% include ../partials/header %>
<form method="post" action="/users/user_signup_process" id="signup_form" onsubmit="return validateForm()">
    <div class='lolmh_center_div'>
        <div class="form-group">
            <label class="control-label" for="inputUsername">Username</label>
            <input type="text" class="form-control" name="inputUsername" id="inputUsername">
            
        </div>
        <div class="form-group">
            <label class="control-label" for="inputPassword">Password</label>
            <input type="password" class="form-control" name="inputPassword" id="inputPassword">
        </div>
        <div class="form-group">
            <label class="control-label" for="inputRegion">Select region</label>
            <select class="form-control" name="inputRegion" id="inputRegion">
                <option value="br">BR</option>
                <option value="eune" selected>EUNE</option>
                <option value="euw">EUW</option>
                <option value="jp">JP</option>
                <option value="kr">KR</option>
                <option value="lan">LAN</option>
                <option value="las">LAS</option>
                <option value="na">NA</option>
                <option value="oce">OCE</option>
                <option value="pbe">PBE</option>
                <option value="ru">RU</option>
                <option value="tr">TR</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputSummonerName">Summoner name</label>
            <input type="text" class="form-control" name="inputSummonerName" id="inputSummonerName">
        </div>
        
        <button type="submit" class="btn btn-default" id="btn_signup" disabled="true">Signup</button>

    </div>
</form>
<% include ../partials/footer %>