<% include ../partials/header %>
<div class='lolmh_users_div'>
    <% users.forEach(function(user){ %>

    <div class='user_div'><a href='/users/get_by_id/<%= user.region %>/<%= user.summoner_id %>'><img src='/static/image/profileicon/<%= user.icon_id %>' class='lolmh_user_icon'><%= user.username %>(<%= user.region %>)</a></div>

    <div class='clear'></div>
    <br>
    <% }); %>
</div>
<% include ../partials/footer %>